<!DOCTYPE html>
<html>
<head>
    <title>Discount Ascii Warehouse</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
</head>
<body ng-app="ascii-warehouse" ng-controller="mainCtrl">
<div id="navbar" class="navbar-collapse collapse">
    <div id="page-title">Discount Ascii Warehouse</div>
</div>

<section ng-if="loading">
    <img src="assets/Loading_icon.gif" class="ajax-loader"/>
</section>
<section ng-if="!loading" class="container">
    <div class="container-fluid" >
        <span>Order By</span>
        <select name="orderBy" ng-model="type" class="form-control order-by">
            <option value="">Select</option>
            <option value="size">Size</option>
            <option value="price">Prize</option>
            <option value="id">ID</option>
        </select>
        <div class="row" scrolled="loadMoreAscii()">
            <div ng-repeat="row in products | orderBy:type:bool track by $index">
                <div class="col-sm-4 products">
                    <div>{{row.id}}</div>
                    <div>{{row.size | px}}</div>
                    <div>{{row.price | currency}}</div>
                    <div><span dynamic-size="{{row.size}}">{{row.face}}</span></div>
                    <div>{{row.date | date}}</div>
                </div>
                <div class="col-xs-4" ng-if="($index + 1) % 20 === 0">
                    <img ng-src="/ad/?r={{ $index *  randomAdv}}" alt="advertisment">
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div ng-if="finish"> Not More Items</div>
    <img ng-if="loadingMore" src="assets/Loading_icon.gif" class="ajax-loader"/>
</footer>
</body>


<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="js/app.js"></script>
<script src="js/filters/pixel.js"></script>
<script src="js/filters/date.js"></script>
<script src="js/factories/products.js"></script>
<script src="js/directives/scroll.js"></script>
<script src="js/directives/dynamicSize.js"></script>

</html>
