html{
    height:100%;
}

body {
    background: url("../assets/image.jpg");
    background-repeat: no-repeat;
    background-position: center 100px;
    background-size: 650px 500px;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

#navbar {
    text-align: center;
    background-color: #437DCC;
}

#page-title {
    font-size: 30px;
    height: 40px;
}

.products {
    text-align: center;
    background-color: #D3DDE0;
    border: 1px solid black;
    margin: 10px;
    padding: 0;
    width: 230px;
    height: 180px;
}

img.advertisement{
    position: relative;
    height: 178px;
    width: 228px;
}

.order-by{
    width: 225px;
}

.container-fluid{
    height: 100%;
}

.loader-container{
    height: 100%;
    display: flex;
}

.spinner{
    margin: auto;
}