body{
        background: url("../assets/image.jpg");
        background-repeat: no-repeat;
        background-position: center 100px;
        background-size: 650px 500px;
}
#navbar{
    text-align: center;
    background-color:#F54E45;
}

.loader{
    background: url("../assets/Loading_icon.gif") no-repeat center center;
    height: 100%;
}